<%

function newCanvasID(length)
{
    var text = "";
    var possible = "abcdefghijkmnpqrstuvxyz0123456789";

    for(var i=0; i < length; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}

%>

<script>

$(document).ready(function() {

    ///////////////////////////////////////////////////////
    // Test that browser is capable of 2D canvases
    //
    
    function cs(){
        var e = document.createElement('canvas');
        return !!(e.getContext && e.getContext('2d'));
    }

    if(!cs()) {
        $("#canvas-unsupported").show(); return;
    }
    
    ///////////////////////////////////////////////////////
    // Set up toolbox
    //
    
    $('#color-choice').miniColors();
    
    $("#color-random").change(function() {
        $('#color-choice').miniColors('disabled', $("#color-random").is(':checked'));
    });
    
    $('#share-to-imgur').click(function(event) {
	
        event.preventDefault();
    
		var label = $('#share-to-imgur-label');
		var previousLabel = label.text();
		label.text("Uploading...");
		
		$('#share-to-imgur-link').hide().removeClass('btn-danger').removeClass('btn-success');

        $.ajax({
            
            url: 'http://api.imgur.com/2/upload.json',
            type: 'POST',
            dataType: 'json',
            data: {
                type: 'base64',
                key: '8ba822fb5788eca3d187b5505c2cce72',
                image: $('#canvas').getCanvasImage().split(',')[1]
            }
            
        }).success(function(data) {
        
			$('#share-to-imgur-link').addClass('btn-success').text("Open")
				.attr("href", data['upload']['links']['imgur_page']).show();
			label.text(previousLabel);
            
        }).error(function() {
        
            $('#share-to-imgur-link').addClass('btn-danger').text("Error").show();
			label.text(previousLabel);
            
        });
    });
    
    ///////////////////////////////////////////////////////
	// Set up sockets
    //
    
    var socket = io.connect('/canvas');
    
    var disconnectTimer;
	
	socket.on('connect', function(data) {
        clearTimeout(disconnectTimer);
        $("#server-link-lost").slideUp();
        socket.emit("canvas_join", "<%= canvasID %>");
    });
	
	socket.on('disconnect', function(data) {
        disconnectTimer = setTimeout(function() {
            $("#server-link-lost").slideDown();
        }, 5000);
    });
    
    socket.on('client_count', function(count) {
	
		var oc = $("#online-count");
    
        if(typeof this.prev == "undefined") this.prev = count;
		if(typeof this.orig == "undefined") this.orig = oc.css('color');
    
		oc.text(count + (count == 1 ? " person" : " people") + " on this canvas");
        
		var color = (count > this.prev? "#090" : (count < this.prev ? "#C00" : this.orig));
        
        $("#online-count").css('color', color).animate({'color': this.orig}, 2000);
        this.prev = count;
        
    });
    
    socket.on('receive_stroke', function(stroke) { renderStroke(stroke) });
    
    socket.on('history', function(strokeHistory) {
        
		$("#canvas").drawRect({
            'fillStyle': '#FFFFFF',
            x: 0, y: 0,
            width: $("#canvas").width(),
            height: $("#canvas").height(),
            fromCenter: false
        });
		
        for(var n in strokeHistory) {
            renderStroke(strokeHistory[n]);
        }
		
        $("#canvas").removeClass("loading");
    });
	
	socket.on('canvas_ttl', function(percentage) {
	
		$('#canvas-clear-progress').css({width: percentage * 100 + "%"});
		
		$('#canvas-clear-progress-style')
			.toggleClass('progress-info', (percentage < 0.8))
			.toggleClass('progress-warning', (percentage >= 0.8 && percentage < 0.9))
			.toggleClass('progress-danger', (percentage >= 0.9));
	});
    
    ///////////////////////////////////////////////////////
	// Set up canvas interaction
    //
    
    var renderStroke = function(stroke) {
    
        for(var i = 0; i < stroke.coords.length; i++) {
            paint({
                'color': stroke.brush.color,
                'size': stroke.brush.size,
                'x': stroke.coords[i][0],
                'y': stroke.coords[i][1],
            });
        }
    };
    
    var paint = function(brush) {
        $("#canvas").drawEllipse({
                'fillStyle' : brush.color,
                'width' : brush.size,
                'height': brush.size,
                'x': brush.x,
                'y': brush.y,
                'fromCenter': true,
        });
    };
    
    var brushStore = new function() {
    
        var coords = [];
        var brush = null;
        
        var strokeBreak = 100;
        
        this.startStroke = function(b, x, y) {
            brush = b;
            this.moveBrush(x, y);
        };
        
        this.moveBrush = function(x, y) {
            
            if(!brush) return;
            
            coords.push([x,y]);
            if(coords.length >= strokeBreak) emitStroke(coords.splice(0,strokeBreak));
            
            paint({
                'color': brush.color,
                'size': brush.size,
                'x': x,
                'y': y,
            });
            
        };
        
        this.finishStroke = function() {
            
            if(!brush) return;
            
            emitStroke(coords);
            brush = null;
            coords.length = 0;
        }
        
        var emitStroke = function(coord_array) {
            socket.emit('transmit_stroke', {'brush': brush, 'coords': coord_array});
        }
    };
    
    $('#canvas').mousedown(function(e) {
    
		if(e.which == 1) {
        
            var brush = {
                'color' : ($("#color-random").is(':checked')) ? 
                    '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6)
                    : $('#color-choice').val(),
                'size' : $('#size-choice').val(),
            }
            
            brushStore.startStroke(brush, e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
		}
        
        e.preventDefault();
        return false;
    });
    
    $('#canvas').mousemove(function(e) {
        brushStore.moveBrush(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
    });
    
    $(document).mouseup(function() {
        brushStore.finishStroke();
    });
    
});

</script>

<style tyle="text/css">
#canvas, #canvas:active, #canvas:focus {
    border: 1px solid #ccc;
    cursor: crosshair;
}

#canvas.loading {
    background: #EEE url("/images/spinner.gif") no-repeat center;
}

.form-narrow .control-label {
    width: 60px;
}

.form-narrow .controls {
    margin-left: 80px;
}

.topbox {
	text-align: center;
}

.topbox .progress {
	margin-left: 25%;
	margin-right: 25%;
}

</style>

<div class="page-header">
	<h1>Canvas <small>Many people drawing at the same time. Typical results.</small></h1>
</div>

<div class="row">
    <div class="span12">
			<div id="canvas-unsupported" class="hide alert alert-error alert-block">
				<h4 class="alert-heading">Oh dear!</h4>
                <p>
                    Looks like your browser doesn't support the <strong>HTML5 &lt;canvas&gt;</strong> element. Sorry.
                </p>
			</div>
			<div id="server-link-lost" class="hide alert alert-warning alert-block">
				<h4 class="alert-heading">Hmm...</h4>
                <p>
                    The connection to the canvas server has been lost. 
                    If this box doesn't disappear soon, try refreshing the page.
                </p>
			</div>
    </div>
</div>

<div class="row">
    <div class="span8">
        <canvas id="canvas" class="loading" width="620" height="485"></canvas>
    </div>
    <div class="span4">
    
        <div class="well topbox">
			<p><h3 id="online-count">1 person on this canvas</h3></p>
			<% if(canvasID == "public_canvas") { %>
				<p>
					<a class="btn btn-primary btn-large" href="/canvas/<%= newCanvasID(8) %>">Start your own canvas</a>
				</p>
			<% } else { %>
				<p style="margin-left: 40px; margin-right: 40px;">
					<a href="/canvas/<%= canvasID %>">Share this link to invite people to this canvas</a>
				</p>
				<p>
					<a class="btn btn-danger" href="/canvas/">Back to public canvas</a>
				</p>
				<p>
				  The contents of this canvas will be erased after 15 minutes of inactivity
				</p>
			<% } %>
        </div>
		
		<% if(canvasID == "public_canvas") { %>
			<div class="topbox">
				<p>The public canvas will reset every 15 minutes</p>
				<div class="progress" id="canvas-clear-progress-style">
					<div class="bar" id="canvas-clear-progress"></div>
				</div>
			</div>
		<% } %>
        
        <form class="form-horizontal form-narrow">
            <fieldset>
				<legend>Brush</legend>
                <div class="control-group">
                    <label class="control-label" for="color-choice">Color</label>
                    <div class="controls">
                        <input id="color-choice" type="text" class="input-mini" value="#000000" />
                        <label class="checkbox">
                            <input type="checkbox" id="color-random" />
                            Random
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="size-choice">Size</label>
                    <div class="controls">
                        <select id="size-choice" class="input-small">
                            <option>5</option>
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
            </fieldset>
			<fieldset>
				<legend>Export</legend>
			    <div class="control-group">
                    <div class="controls">
						<button class="btn inline" id="share-to-imgur" href="#">
							<i class="icon-picture"></i>
							<span id="share-to-imgur-label">Share to imgur</span>
						</button>
						<a href="http://imgur.com" target="_blank" id="share-to-imgur-link" class="btn inline hide">View</a>
                    </div>
                </div>
			</fieldset>
        </form>
    </div>
</div>
