<script src="/socket.io/socket.io.js"></script>

<style>
#canvas, #canvas:active, #canvas:focus {
    cursor: crosshair;
}
</style>

<h1>
  <%= title %>
</h1>

<script>

function isCanvasSupported(){
  var elem = document.createElement('canvas');
  return !!(elem.getContext && elem.getContext('2d'));
}

$(document).ready(function() {

    if(!isCanvasSupported()) {
        $("#canvas-unsupported").show();
        return;
    }
    
    $('#color-choice').miniColors();
    
    $("#color-random").change(function() {
        $('#color-choice').miniColors('disabled', $("#color-random").is(':checked'));
    });
    
    var drawCircle = function(canvas, event) {
        
        var x = event.pageX - canvas.offsetLeft;
        var y = event.pageY - canvas.offsetTop;
        
        var color = ($("#color-random").is(':checked'))
            ? '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6)
            : $('#color-choice').val();
        
        var data = {
            "fillStyle": color,
            "x": x,
            "y": y,
            "width": $('#size-choice').val(),
            "height": $('#size-choice').val(),
            "fromCenter": true
        };
        
        socket.emit('draw', data);
        $("canvas").drawEllipse(data);
    }
    
    var socket = io.connect();
    
    var mouseDownOnCanvas = false;
    
    $('#canvas').mousedown(function(e) {
        mouseDownOnCanvas = true;
        drawCircle(this, e);
        return false;
    });
    
    $('#canvas').mousemove(function(e) {
        if(mouseDownOnCanvas) {
            drawCircle(this, e);
            return false;
        }
    });
    
    $(document).mouseup(function() {
        mouseDownOnCanvas = false;
    });
    
    socket.on('update_clients', function(data) {
        $("#online-list").empty();
        
        for(var n in data.clients) {
            $("#online-list").append("<li>" + data.clients[n] + "</li>");
        }
        
    });
    
    socket.on('draw', function(data) {
        $("canvas").drawEllipse(data);
    });
    
    socket.on('history', function(data) {
        for(var n in data.history) {
            $("canvas").drawEllipse(data.history[n]);
        }
    });
    
    socket.on('reset', function(data) {
        $("canvas").clearCanvas();
    });
    
    socket.on('should_request_updated_clients', function() {
        socket.emit('get_clients');
    });
    
});

</script>

<div class="row">
    <p>
        <div id="canvas-unsupported" class="alert alert-error span8" style="display: none">
            <h4 class="alert-heading">Oh dear!</h4>
            Looks like your browser doesn't support Canvas. Go away.
        </div>
    </p>
</div>

<div class="row">
    <div class="span8">
        <canvas id="canvas" width="600" height="400" style="border: 1px solid #CCC">
        </canvas>
        <p>
            The canvas will reset every 15 minutes.
        </p>
    </div>
    <div class="span4">
        
        <form class="well form-horizontal">
            <fieldset>
                <h3>Brush</h3>
                <div class="control-group">
                    <label class="control-label" for="color-choice">Color</label>
                    <div class="controls">
                        <input id="color-choice" type="text" class="input-mini" value="#000000" />
                        <label class="checkbox">
                            <input type="checkbox" id="color-random" />
                            Random
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="size-choice">Size</label>
                    <div class="controls">
                        <select id="size-choice" class="input-mini">
                            <option>5</option>
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
        
        <h3>Who's online?</h3>
        <ul class="unstyled" id="online-list">
        </ul>
    </div>
</div>
