<script src="/socket.io/socket.io.js"></script>

<style>
#canvas, #canvas:active, #canvas:focus {
    cursor: crosshair;
}
</style>

<h1>
  <%= title %>
</h1>

<script>

function isCanvasSupported(){
  var elem = document.createElement('canvas');
  return !!(elem.getContext && elem.getContext('2d'));
}

$(document).ready(function() {

    if(!isCanvasSupported()) {
        $("#canvas-unsupported").show();
        return;
    }
    
    $('#color-choice').colorPicker();
    
    var socket = io.connect();
    
    $('#canvas').mousedown(function(e) {

        var x = e.pageX - this.offsetLeft;
        var y = e.pageY - this.offsetTop;
        
        var data = {
            "fillStyle": $('#color-choice').val(),
            "x": x, "y": y,
            "width": 25, "height": 25,
            "fromCenter": true
        };
        
        socket.emit('draw', data);
        $("canvas").drawEllipse(data);
        
        return false;
    });
    
    socket.on('update_clients', function(data) {
        $("#online-list").empty();
        
        for(var n in data.clients) {
            $("#online-list").append("<li>" + data.clients[n] + "</li>");
        }
        
    });
    
    socket.on('draw', function(data) {
        $("canvas").drawEllipse(data);
    });
    
    socket.on('history', function(data) {
        for(var n in data.history) {
            $("canvas").drawEllipse(data.history[n]);
        }
    });
    
    socket.on('reset', function(data) {
        $("canvas").clearCanvas();
    });
    
    socket.on('should_request_updated_clients', function() {
        socket.emit('get_clients');
    });
    
});

</script>

<div class="row">
    <p>
        <div id="canvas-unsupported" class="alert alert-error span8" style="display: none">
            <h4 class="alert-heading">Oh dear!</h4>
            Looks like your browser doesn't support Canvas. Go away.
        </div>
    </p>
</div>

<div class="row">
    <div class="span8">
        <canvas id="canvas" width="600" height="400" style="border: 1px solid #CCC">
        </canvas>
        <p>
            The canvas will reset every 15 minutes.
        </p>
    </div>
    <div class="span4">
        <div class="well">
            <h4>Brush</h4>
            <p> Color: <input id="color-choice" type="text" name="color-choice" class="input-mini" value="#000000" /></p>
        </div>
        <h3>Who's online?</h3>
        <ul class="unstyled" id="online-list">
        </ul>
    </div>
</div>