<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jcanvas.min.js"></script>
    <script src="/js/jquery.colorPicker.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/colorPicker.css" />
    <style type="text/css">
      body { padding-top: 60px; }
    </style>
  </head>
  <body>
    <div class="container">
      <%- body %>
    </div>
  </body>
</html>
