<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/jcanvas.min.js"></script>
    <script src="/js/jquery.miniColors.min.js"></script>
    <script src="/js/jquery.animate-colors-min.js"></script>
    <link rel="stylesheet" href="/style/jquery.miniColors.css" />
    <style type="text/css">
      body { padding-top: 60px; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
        <div class="container">
		  <a class="brand" href="/">rob's nodejs stuff</a>
		  <ul class="nav">
			<li><a href="/canvas">Canvas</a></li>
		  </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <%- body %>
	  
	  <hr>

      <footer>
        <p>This bit of nonsense was made by Rob Sargant (<a href="http://twitter.com/sargant">@sargant</a>)</p>
		<p>Source code available on <a href="http://github.com/sargant">github</a></p>
      </footer>
    </div>
  </body>
</html>
