<div class="page-header">
	<h1>Runnit <small>Overlay and compare multiple runs from Garmin Connect.</small></h1>
</div>

<div class="row">
	<div class="span4">
		<p>
			Copy and paste the <strong>complete web address</strong> of a
			Garmin Connect activity page into the box below to add it to
			the comparison.
		</p>
		<form class="form-inline">
			<div class="input-append" style="margin-bottom: 9px">
				<input class="span3" /><button class="btn btn-danger"><i class="icon-white icon-minus"></i></button>
			</div>
			<div class="input-append">
				<input class="span3" /><button class="btn btn-info"><i class="icon-white icon-plus"></i></button>
			</div>
		</form>
	</div>
	<div class="span8">
		<h2>Map</h2>
		<p>Map goes here</p>
		<h2>Charts</h2>
		<p>Charts go here</p>
	</div>
</div>