<style>
	#playing-area {
		background: #111;
		width: 800px;
		margin: auto;
		padding: 20px;
	}
	
	.game-text {
		color: #33B5E5;
		text-align: center;
	}
	
	#game-message {
		font-size: 2em;
		font-weight: bold;
		padding: 20px;
	}
	
	.game-lose {
		color: #FF4444
	}
	
	.game-win {
		color: #99CC00
	}
	
	#game-canvas {
		border: 1px solid #33B5E5;
		display: block;
		margin: 20px auto;
	}
</style>

<div class="page-header">
	<h1>Bikes</h1>
</div>

<div class="row">
	<div class="span12">
		<div id="playing-area">
			<div id="game-message" class="game-text">Test Message</div>
			<canvas id="game-canvas" width="615" height="465"></canvas>
			<div id="game-instructions" class="game-text">
				<p>Use WASD to move your dot</p>
				<p>
					Latency: <strong id="game-latency">___</strong> ms
				</p>
			</div>
		</div>
	</div>
</div>
