<div class="page-header">
	<h1>Canvas <small>Many people drawing at the same time. Typical results.</small></h1>
</div>

<div class="row">
	<div class="span12">
		<div id="canvas-unsupported" class="hide alert alert-error alert-block">
			<h4 class="alert-heading">Oh dear!</h4>
			<p>
				Looks like your browser doesn't support the <strong>HTML5 &lt;canvas&gt;</strong> element. Sorry.
			</p>
		</div>
		<div id="server-link-lost" class="hide alert alert-warning alert-block">
			<h4 class="alert-heading">Hmm...</h4>
			<p>
				The connection to the canvas server has been lost.
				If this box doesn't disappear soon, try refreshing the page.
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8">
		<canvas id="canvas" class="loading" width="620" height="485" data-canvas-id="<%= canvasID %>"></canvas>
		<div id="chat-history" width="620"></div>
		<form class="form-horizontal form-narrow" id="chat-input-form">
			<div class="control-group">
				<label class="control-label" for="chat-input">Say:</label>
				<div class="controls">
					<% if (identity.username !== undefined) { %>
						<input class="span7" id="chat-input" />
					<% } else { %>
						<input disabled class="span7 disabled" id="chat-input" placeholder="click &quot;log in&quot; on the top bar to chat" />
					<% } %>
				</div>
			</div>
		</form>
	</div>
	<div class="span4">
		<div class="well topbox">
			<p><h3 id="online-count">1 person on this canvas</h3></p>
			<% if(isPublicCanvas) { %>
				<p><a class="btn btn-primary btn-large" href="/canvas/<%= newCanvasID %>">Start your own canvas</a></p>
			<% } else { %>
				<p style="margin-left: 40px; margin-right: 40px;">
					<a href="/canvas/<%= canvasID %>">Share this link to invite people to this canvas</a>
				</p>
				<p>
					<a class="btn btn-danger" href="/canvas/">Back to public canvas</a>
				</p>
				<p>
				  The contents of this canvas will be erased after 15 minutes of inactivity
				</p>
			<% } %>
		</div>
		<% if(isPublicCanvas) { %>
			<div class="topbox">
				<p>The public canvas will reset every 15 minutes</p>
				<div class="progress" id="canvas-clear-progress-style">
					<div class="bar" id="canvas-clear-progress"></div>
				</div>
			</div>
		<% } %>
		<form class="form-horizontal form-narrow">
			<fieldset id="brush-controls">
				<legend>Brush</legend>
				<div class="control-group">
					<label class="control-label" for="brush-type">Type</label>
					<div class="controls">
						<select id="brush-type" class="input-medium brush-control">
							<optgroup label="Basic">
								<option value="filled-circle" selected>Filled circle</option>
								<option value="pencil">Thin line</option>
							</optgroup>
							<optgroup label="Effect Pencils">
								<option value="stringed-pencil">Stringed</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="color-choice">Color</label>
					<div class="controls">
						<input id="color-choice" type="hidden" class="brush-control" value="#000000" />
						<button title="Random" class="btn btn-mini" id="color-random" href="#"><i class="icon-random"></i></button>
					</div>
				</div>
				<div id="filled-circle-controls">
					<div class="control-group">
						<label class="control-label" for="size-choice">Size</label>
						<div class="controls">
							<div id="brush-size-slider"></div>
							<!--<input id="size-choice" class="input-mini brush-control align-right uneditable-input" value="10" />-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Preview</label>
						<div class="controls">
							<canvas id="brush-preview" width="70" height="70"></canvas>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Export</legend>
				<div class="control-group">
					<div class="controls">
						<button class="btn inline" id="share-to-imgur" href="#">
							<i class="icon-picture"></i>
							<span id="share-to-imgur-label">Share to imgur</span>
						</button>
						<a href="http://imgur.com" target="_blank" id="share-to-imgur-link" class="btn inline hide">View</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
